[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytz = "*"
python-dateutil = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
